<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Library Management System - Add Work</title>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
</head>
<body>
    <th:block th:insert="~{fragments/navigation :: navigation}"></th:block>
    <div class="container">
      <h2>Add new work</h2><br>
      <form th:action="@{/works/saveWork}" method="POST">
        <input type="text" th:field="*{workPayload.title}" placeholder="work title"  class="form-control mb-4 col-4"  required="required">
        <input type="text" th:field="*{workPayload.description}" placeholder="description"  class="form-control mb-4 col-4"  required="required">
        <div>
            <label>Work authors</label><br>
            <select id="authorDropdown" th:field="*{workPayload.authors}" multiple="multiple">
              <option
                      th:each="author: ${authorOptions}"
                      th:value="${author.id}" th:text="${author.firstName.toLowerCase() + ' ' + author.lastName.toLowerCase()}"
              ></option>
            </select><br/>
            <label>Work categories</label><br>
            <select id="categoryDropdown" th:field="*{workPayload.categories}" multiple="multiple">
              <option
                      th:each="category: ${categoryOptions}"
                      th:value="${category.id}" th:text="${category.name.toLowerCase()}"
              ></option>
            </select>
        </div>
        <br>
        <button type="submit" class="btn btn-info col-2">add work</button>
      </form>
      <br>
      <a th:href="@{/works}"> Back to all works</a>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
