<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Library Management System - Edit Work</title>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
</head>
<body>
    <th:block th:insert="~{fragments/navigation :: navigation}"></th:block>
    <div class="container">
        <h2>Edit work</h2><br>
        <form th:action="@{/works/updateWork}" method="POST">
            <input type="hidden" th:field="*{workPayload.id}">

            <input type="text" th:field="*{workPayload.title}" placeholder="work title" class="form-control mb-4 col-4" required="required">
            <input type="text" th:field="*{workPayload.description}" placeholder="description" class="form-control mb-4 col-4" required="required">
            <div>
                <label>Work authors</label><br>
                <select id="authorDropdown" th:field="*{workPayload.authors}" multiple="multiple">
                    <option
                            th:each="author: ${authorOptions}"
                            th:value="${author.id}" th:text="${author.firstName + ' ' + author.lastName}"
                    ></option>
                </select><br/>
                <label>Work categories</label><br>
                <select id="categoryDropdown" th:field="*{workPayload.categories}" multiple="multiple">
                    <option
                            th:each="category: ${categoryOptions}"
                            th:value="${category.id}" th:text="${category.name}"
                    ></option>
                </select>
            </div>
            <button type="submit" class="btn btn-info col-2">Update work</button>
        </form>
        <br>
        <a th:href="@{/works}"> Back to all works</a>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
