<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Library Management System - Add Book</title>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
</head>
<body>
<th:block th:insert="~{fragments/navigation :: navigation}"></th:block>

<div class="container">
    <h1 class="display-2 text-center mt-2">Add Book</h1>

    <form class="my-4" method="POST" th:action="@{/books/saveBook}">
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="work">Work</label>
            <div class="col-sm-10">
                <select class="form-select js-select2" id="work" required th:field="*{bookPayload.work}">
                    <option
                            th:each="work: ${workOptions}"
                            th:text="${work.title}" th:value="${work.id}"
                    ></option>
                </select>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="publisherName">Publisher Name</label>
            <div class="col-sm-10">
                <input class="form-control" id="publisherName" required th:field="*{bookPayload.publisherName}"
                       type="text">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="yearOfPublishing">Year of Publishing</label>
            <div class="col-sm-10">
                <input class="form-control" id="yearOfPublishing" required th:field="*{bookPayload.yearOfPublishing}"
                       type="date">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="isbn">ISBN</label>
            <div class="col-sm-10">
                <input class="form-control" id="isbn" required th:field="*{bookPayload.isbn}" type="text">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="bookStatus">Status</label>
            <div class="col-sm-10">
                <select class="form-select" id="bookStatus" required th:field="*{bookPayload.bookStatus}">
                    <option
                            th:each="status: ${statusList}"
                            th:text="${status}" th:value="${status}"
                    ></option>
                </select>
            </div>
        </div>

        <button class="btn btn-lg btn-success" type="submit">Add book</button>
    </form>

    <a th:href="@{/books}">Back to all books</a>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

<script type="text/javascript">
    yearOfPublishing.max = new Date().toISOString().split("T")[0];

    $(document).ready(function () {
        $('.js-select2').select2();
    });
</script>
</body>
</html>
