<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Library Management System - Add Book</title>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
</head>
<body>
    <th:block th:insert="~{fragments/navigation :: navigation}"></th:block>
    <div class="container">
        <h2>Add new book</h2><br>
        <form th:action="@{/books/saveBook}" method="POST">
            <label>Work </label><br>
            <select th:field="*{bookPayload.work}">
                <option
                        th:each="work: ${workOptions}"
                        th:value="${work.id}" th:text="${work.title}"
                ></option>
            </select><br/><br/>
            <input type="text" th:field="*{bookPayload.publisherName}" placeholder="publisher name"  class="form-control mb-4 col-4"  required="required">
            <input type="text" th:field="*{bookPayload.isbn}" placeholder="book ISBN"  class="form-control mb-4 col-4"  required="required">
            <input type="date" th:field="*{bookPayload.yearOfPublishing}" placeholder="year of publishing"  class="form-control mb-4 col-4" required="required">
            <select th:field="*{bookPayload.bookStatus}">
                <option
                        th:each="status: ${statusList}"
                        th:value="${status}" th:text="${status.toLowerCase()}"
                ></option>
            </select><br/><br>
            <button type="submit" class="btn btn-info col-2">add book</button>
        </form>
        <br>
        <a th:href="@{/books}"> Back to all books</a>
    </div>
    <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
