<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Library Management System - Books</title>
  <th:block th:insert="~{fragments/head :: head}"></th:block>
</head>
<body>
  <th:block th:insert="~{fragments/navigation :: navigation}"></th:block>
  <h1 class="text-center">All books</h1>
  <div class="position-relative">
    <div class="position-absolute top-0 end-0">
      <a class="btn btn-primary" th:href="@{/books/add}"
         th:if="${#authorization.expression('hasAuthority(''ADMIN'')') or #authorization.expression('hasAuthority(''LIBRARIAN'')')}"
      >Add new book
      </a>
    </div>
  </div>
  <div class="mt-2" th:if="${books.size() > 0}">
    <div>
      <form th:action="@{/books}" id="bookSearchForm">
        <div class="row d-flex">
          <div class="col-sm-6">
            <div class="search row">
              <div class="col md-6">
                <input id="keyword" type="search" name="keyword" th:value="${keyword}" required class="form-control" placeholder="Enter keyword">
              </div>
              <div class="col md-3">
                <button type="submit" class="btn btn-secondary"> <i class="bi bi-search"></i> Search </button>
              </div>
            </div>
          </div>
          <div class="col-md-3 input-group mt-2">
            <div class="input-group-prepend">
              <label class="input-group-text" for="pageSize">Items per page:</label>
            </div>
            <select form="bookSearchForm" name="size" th:value="${pageSize}" onchange="changePageSize()" class="size-select"
                    id="pageSize">
              <option th:value="3" th:text="3" th:selected="${3 == pageSize}"></option>
              <option th:value="6" th:text="6" th:selected="${6 == pageSize}"></option>
              <option th:value="9" th:text="9" th:selected="${9 == pageSize}"></option>
            </select>
          </div>
          <div class="col-md-3 mt-2">
            <button id="clearButton" class="btn btn-info">Clear your selection</button>
          </div>
        </div>
      </form>
    </div>
    <table class="table table-hover table-responsive-xl mt-4">
      <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Work</th>
        <th scope="col">Publisher name</th>
        <th scope="col">
          <a th:href="@{'/books?' + ${keyword!=null && keyword!=''? 'keyword=' + keyword + '&' : ''}
                  + 'page=' + ${currentPage} + '&size=' + ${pageSize}
                  + ${sortField!=null ? '&sort=' + 'yearOfPublishing' + ',' + (sortField == 'yearOfPublishing' ? reverseSortDirection : sortDirection) : ''}}">
            year of Publishing
            <i th:if="${sortDirection == 'asc'}"  class="bi bi-sort-up"></i>
            <i th:if="${sortDirection == 'desc'}" class="bi bi-sort-down"></i>
          </a>
        </th>
        <th scope="col">ISBN</th>
        <th scope="col">Book status</th>
        <th th:if="${#authorization.expression('hasAuthority(''ADMIN'')') or #authorization.expression('hasAuthority(''LIBRARIAN'')')}">action</th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="book : ${books}">
        <th scope="row" th:text="${book.id}"></th>
        <td>
          <span th:text="${book.work.title}"><br/></span>
        </td>
        <td th:text="${book.publisherName}"></td>
        <td th:text="${book.yearOfPublishing}"></td>
        <td th:text="${book.isbn}"></td>
        <td th:text="${book.bookStatus.name().toLowerCase()}"></td>
        <td th:if="${#authorization.expression('hasAuthority(''ADMIN'')') or #authorization.expression('hasAuthority(''LIBRARIAN'')')}">
          <a class="btn btn-primary" th:href="@{/books/{bookId}/edit(bookId=${book.id})}">Edit book</a>
          <a th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}" class="btn btn-danger deleteButton"
             th:href="@{/books/{bookId}/delete(bookId=${book.id})}"
             th:workTitle="${book.work.title}"
             th:bookIsbn = "${book.isbn}"
             role="button"
          ><i class="bi bi-trash"></i> Delete book
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div th:unless="${books.size() > 0}">
    <h6  class="text-center" >No books found!</h6>
    <div class="d-flex justify-content-center">
      <a class="btn btn-primary"  th:href="@{'/books?'}" role="button">Back</a>
    </div>
  </div>
  <div class="d-flex justify-content-center">
    <nav aria-label="Page navigation">
      <ul class="pagination">
        <div th:if="${currentPage > 1 and books.size() > 0}">
          <li class="page-item"><a class="page-link" th:href="@{'/books?' + ${keyword!=null && keyword!=''? 'keyword=' + keyword + '&' : ''} + 'page=' + ${currentPage - 1} + '&size=' + ${pageSize}}">Previous</a></li>
        </div>
        <div th:if="${currentPage != totalPages and books.size() > 0 }">
          <li class="page-item"><a class="page-link" th:href="@{'/books?' + ${keyword!=null && keyword!=''? 'keyword=' + keyword + '&' : ''} + 'page=' + ${currentPage + 1} + '&size=' + ${pageSize}}">Next</a></li>
        </div>
      </ul>
    </nav>
  </div>

  <div class="modal text-center" id="bookModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Confirmation</h5>
        </div>
        <div class="modal-body">
          <span id="deleteText"></span>
        </div>
        <div class="modal-footer">
          <a type="button" id="yesButton" class="btn btn-danger">Yes</a>
          <button id="noButton" type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">

    $(document).ready(function () {

      $(".deleteButton").on("click", function (e) {
        e.preventDefault();
        var href = $(this).attr("href");
        var workTitle = $(this).attr("workTitle");
        var bookIsbn = $(this).attr("bookIsbn")
        $("#deleteText").html("Do you want to delete this book: \<strong\>" + workTitle + '  ISBN: ' + bookIsbn + "\<\/strong\>?");
        $('#bookModal #yesButton').attr('href',href);
        $("#bookModal").show();
      });

      $("#noButton").on("click", function (e) {
        e.preventDefault();
        $("#bookModal").hide();
      });

      $("#clearButton").on("click", function (e) {
        e.preventDefault();
        $("#keyword").text("");
        window.location = "[[@{/books}]]";
      });
    });

    function changePageSize() {
      $("#bookSearchForm").submit();
    }

    function changeSortDirection() {
      $("#sortDirection").submit();
    }
  </script>
  <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>