<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Library Management System - Books</title>
  <th:block th:insert="~{fragments/head :: head}"></th:block>
</head>
<body>
  <th:block th:insert="~{fragments/navigation :: navigation}"></th:block>

  <div class="container">
    <h1 class="display-2 text-center mt-2">Books</h1>

    <div class="d-flex justify-content-end my-2" th:if="${#authorization.expression('hasAnyAuthority(''ADMIN'', ''LIBRARIAN'')')}">
      <a class="btn btn-lg btn-success" th:href="@{/books/add}" title="Add Book">
        <i class="bi bi-plus-square-fill"></i>
      </a>
    </div>

    <div class="mt-2" th:if="${books.size() > 0}">
      <form th:action="@{/books}" id="bookSearchForm">
        <div class="input-group my-3">
          <input type="search" class="form-control" id="keyword" name="keyword"
                 placeholder="Search books..." th:value="${keyword}"
          >
          <button type="submit" class="btn btn-outline-secondary" title="Search">
            <i class="bi bi-search"></i>
          </button>
        </div>

        <div class="row g-2 my-3">
          <div class="col-sm">
            <div class="form-floating">
              <select class="form-select" id="pageSize" name="size"
                      th:value="${pageSize}" onchange="changePageSize()"
              >
                <option th:value="3" th:text="3" th:selected="${3 == pageSize}"></option>
                <option th:value="6" th:text="6" th:selected="${6 == pageSize}"></option>
                <option th:value="9" th:text="9" th:selected="${9 == pageSize}"></option>
              </select>
              <label for="pageSize">Items per page</label>
            </div>
          </div>
        </div>

        <button id="btnClear" class="btn btn-secondary">Clear selection</button>
      </form>

      <div class="d-flex justify-content-end my-2">
        <a class="btn btn-light" th:href="@{'/books?' + ${keyword!=null && keyword!=''? 'keyword=' + keyword + '&' : ''}
                  + 'page=' + ${currentPage} + '&size=' + ${pageSize}
                  + ${sortField!=null ? '&sort=' + 'yearOfPublishing' + ',' + (sortField == 'yearOfPublishing' ? reverseSortDirection : sortDirection) : ''}}">
          Sort: Year of Publishing
          <i th:if="${sortDirection == 'asc'}"  class="bi bi-sort-up"></i>
          <i th:if="${sortDirection == 'desc'}" class="bi bi-sort-down"></i>
        </a>
      </div>

      <div class="row row-cols-1 row-cols-md-3 g-4 my-4">
        <div class="col" th:each="book : ${books}">
          <div class="card h-100 m-2">
            <div class="card-header"
                 th:each="category : ${book.work.categories}"
                 th:utext="${category.name + '<br/>'}"
            ></div>

            <div class="card-body">
              <h5 class="card-title" th:text="${book.work.title}"></h5>
              <h6 class="card-subtitle mb-2 text-muted"
                  th:each="author : ${book.work.authors}"
                  th:utext="${author.firstName + ' ' +  author.lastName + '<br/>'}"
              ></h6>

              <ul class="list-group list-group-flush my-2">
                <li class="list-group-item" th:text="${'Description: ' + book.work.description}"></li>
                <li class="list-group-item" th:text="${'ISBN: ' + book.isbn}"></li>
                <li class="list-group-item" th:text="${'Publisher: ' + book.publisherName}"></li>
                <li class="list-group-item" th:text="${'Year: ' + book.yearOfPublishing}"></li>
                <li class="list-group-item" th:text="${'Status: ' + book.bookStatus}"></li>
              </ul>

              <a th:if="${#authorization.expression('hasAnyAuthority(''ADMIN'', ''LIBRARIAN'')') and book.bookStatus.toString() == 'OK'}"
                 href="#" class="btn btn-primary"
              >
                <i class="bi bi-person-fill-up"></i> Loan
              </a>
              <a th:if="${#authorization.expression('hasAnyAuthority(''ADMIN'', ''LIBRARIAN'')')}" class="btn btn-warning"
                 th:href="@{/books/{bookId}/edit(bookId=${book.id})}"
                 title="Edit Book"
              >
                <i class="bi bi-gear-fill"></i>
              </a>
              <a th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}" class="btn btn-danger btnDelete"
                 th:href="@{/books/{bookId}/delete(bookId=${book.id})}"
                 th:workTitle="${book.work.title}"
                 th:bookIsbn = "${book.isbn}"
                 role="button" title="Delete Book"
              >
                <i class="bi bi-trash3-fill"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <nav aria-label="Page navigation">
          <ul class="pagination">
            <li class="page-item" th:if="${currentPage > 1}">
              <a class="page-link"
                 th:href="@{'/books?' + ${keyword != null && keyword != '' ? 'keyword=' + keyword + '&' : ''}
                 + 'page=' + ${currentPage - 1} + '&size=' + ${pageSize}
                 + ${sortField != null && sortDirection != '' ? '&sort=' + sortField + ',' + sortDirection : ''}}"
              >
                Previous
              </a>
            </li>
            <li class="page-item" th:if="${currentPage != totalPages}">
              <a class="page-link"
                 th:href="@{'/books?' + ${keyword != null && keyword != '' ? 'keyword=' + keyword + '&' : ''}
                 + 'page=' + ${currentPage + 1} + '&size=' + ${pageSize}
                 + ${sortField != null && sortDirection != '' ? '&sort=' + sortField + ',' + sortDirection : ''}}"
              >
                Next
              </a>
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div th:unless="${books.size() > 0}">
      <p class="lead text-center">
        No books found!
      </p>
      <div class="d-flex justify-content-center">
        <a class="btn btn-lg btn-secondary" th:href="@{'/books'}" role="button">Back</a>
      </div>
    </div>
  </div>

  <div class="modal py-5" tabindex="-1" role="dialog" id="deleteModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content rounded-4 shadow">
        <div class="modal-header border-bottom-0">
          <h1 class="modal-title fs-5">Confirm Delete</h1>
          <button type="button" class="btn-close noBtn" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body py-0">
          <p><span id="confirmText"></span></p>
        </div>
        <div class="modal-footer flex-column border-top-0">
          <button type="button" id="yesBtn" class="btn btn-lg btn-danger w-100 mx-0 mb-2">Delete book</button>
          <button type="button" class="btn btn-lg btn-light w-100 mx-0 noBtn" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div th:replace="~{fragments/footer :: footer}"></div>

  <script type="text/javascript">
    $(document).ready(function () {

      $(".btnDelete").on("click", function (e) {
        e.preventDefault();
        let href = $(this).attr("href");
        let workTitle = $(this).attr("workTitle");
        let bookIsbn = $(this).attr("bookIsbn")
        $("#confirmText").html("Are you sure you want to delete book: \<b\>" + workTitle + '  (ISBN: ' + bookIsbn + ")\<\/b\>?");
        $('#deleteModal #yesBtn').attr('href',href);
        $("#deleteModal").show();
      });

      $(".noBtn").on("click", function (e) {
        e.preventDefault();
        $("#deleteModal").hide();
      });

      $("#btnClear").on("click", function (e) {
        e.preventDefault();
        $("#keyword").text("");
        window.location = "[[@{/books}]]";
      });

    });

    function changePageSize() {
      $("#bookSearchForm").submit();
    }
  </script>
</body>
</html>
