<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Library Management System - Edit Book</title>
  <th:block th:insert="~{fragments/head :: head}"></th:block>
</head>
<body>
  <th:block th:insert="~{fragments/navigation :: navigation}"></th:block>
  <div class="container">
    <h2>Edit book</h2><br>
    <form th:action="@{/books/updateBook}" method="POST">
      <input type="hidden" th:field="*{bookPayload.id}">
      <label>Work </label><br>
      <select th:field="*{bookPayload.work}">
        <option
                th:each="work: ${worksOptions}"
                th:value="${work.id}" th:text="${work.title}"
        ></option>
      </select><br/><br/>
      <input type="text" th:field="*{bookPayload.publisherName}" placeholder="publisher name"  class="form-control mb-4 col-4"  required="required">
      <input type="text" th:field="*{bookPayload.isbn}" placeholder="book ISBN"  class="form-control mb-4 col-4"  required="required">
      <input type="date" th:field="*{bookPayload.yearOfPublishing}" placeholder="year of publishing"  class="form-control mb-4 col-4" required="required">
      <select th:field="*{bookPayload.bookStatus}">
        <option
                th:each="status: ${statusOptions}"
                th:value="${status}" th:text="${status.toLowerCase()}"
        ></option>
      </select><br/><br>
      <button type="submit" class="btn btn-info col-2">Update book</button>
    </form>
    <br>
    <a th:href="@{/works}"> Back to all books</a>
  </div>
  <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
