<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Library Management System - Add Author</title>
  <th:block th:insert="~{fragments/head :: head}"></th:block>
</head>
<body>
  <th:block th:insert="~{fragments/navigation :: navigation}"></th:block>

  <div class="container">
    <h1 class="display-2 text-center mt-2">Add Author</h1>

    <form th:action="@{/authors/saveAuthor}" method="POST" class="my-4">
      <div class="row mb-3">
        <label for="firstName" class="col-sm-2 col-form-label">First Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="firstName" th:field="*{authorPayload.firstName}" required>
        </div>
      </div>
      <div class="row mb-3">
        <label for="lastName" class="col-sm-2 col-form-label">Last Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="lastName" th:field="*{authorPayload.lastName}" required>
        </div>
      </div>

      <button type="submit" class="btn btn-lg btn-success">Add author</button>
    </form>

    <a th:href="@{/authors}">Back to all authors</a>
  </div>

  <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
