<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Library Management System - Add Author</title>
  <th:block th:insert="~{fragments/head :: head}"></th:block>
</head>
<body>
  <th:block th:insert="~{fragments/navigation :: navigation}"></th:block>
  <div class="container">
    <h2>Add new author</h2><br>
    <form th:action="@{/authors/saveAuthor}" method="POST">
      <input type="text" th:field="*{authorPayload.firstName}" placeholder="first name"  class="form-control mb-4 col-4" required="required">
      <input type="text" th:field="*{authorPayload.lastName}" placeholder="last name"  class="form-control mb-4 col-4" required="required">
      <button type="submit" class="btn btn-info col-2">add author</button>
    </form>
    <br>
    <a th:href="@{/authors}"> Back to all authors</a>
  </div>
  <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
