<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Library Management System - Add Author</title>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
</head>
<body>
<th:block th:insert="~{fragments/navigation :: navigation}"></th:block>

<div class="container">
    <h1 class="display-2 text-center mt-2">Add Author</h1>

    <form class="my-4" method="POST" th:action="@{/authors/saveAuthor}">
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="firstName">First Name</label>
            <div class="col-sm-10">
                <input class="form-control" id="firstName" required th:field="*{authorPayload.firstName}" type="text">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="lastName">Last Name</label>
            <div class="col-sm-10">
                <input class="form-control" id="lastName" required th:field="*{authorPayload.lastName}" type="text">
            </div>
        </div>

        <button class="btn btn-lg btn-success" type="submit">Add author</button>
    </form>

    <a th:href="@{/authors}">Back to all authors</a>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
