<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Library Management System - Authors</title>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
</head>
<body>
<th:block th:insert="~{fragments/navigation :: navigation}"></th:block>

<div class="container">
    <h1 class="display-2 text-center mt-2">Authors</h1>

    <div class="d-flex justify-content-end my-2">
        <a class="btn btn-lg btn-success" th:href="@{/authors/add}" title="Add Author">
            <i class="bi bi-person-fill-add"></i>
        </a>
    </div>

    <div class="mt-2" th:if="${authors.size() > 0}">
        <form id="authorSearchForm" th:action="@{/authors}">
            <div class="input-group my-3">
                <input class="form-control" id="keyword" name="keyword" placeholder="Search authors..."
                       th:value="${keyword}" type="search"
                >
                <button class="btn btn-outline-secondary" title="Search" type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </div>

            <div class="row g-2 my-3">
                <div class="col-sm">
                    <div class="form-floating">
                        <select class="form-select" id="pageSize" name="size"
                                onchange="changePageSize()" th:value="${pageSize}"
                        >
                            <option th:selected="${3 == pageSize}" th:text="3" th:value="3"></option>
                            <option th:selected="${6 == pageSize}" th:text="6" th:value="6"></option>
                            <option th:selected="${9 == pageSize}" th:text="9" th:value="9"></option>
                        </select>
                        <label for="pageSize">Items per page</label>
                    </div>
                </div>
            </div>

            <button class="btn btn-secondary" id="btnClear">Clear selection</button>
        </form>

        <div class="table-responsive mt-4">
            <table class="table table-hover align-middle">
                <thead class="table-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">
                        <a class="text-decoration-none text-dark"
                           th:href="@{'/authors?' + ${keyword != null && keyword != '' ? 'keyword=' + keyword + '&' : ''}
                        + 'page=' + ${currentPage} + '&size=' + ${pageSize}
                        + ${sortField != null ? '&sort=' + 'firstName' + ',' + (sortField == 'firstName' ? reverseSortDirection : sortDirection) : ''}}"
                        >
                            First Name
                            <i class="bi bi-sort-up"
                               th:if="${(sortField == 'firstName' && sortDirection == 'asc') || sortField != 'firstName'}"
                            ></i>
                            <i class="bi bi-sort-down"
                               th:if="${sortField == 'firstName' && sortDirection == 'desc'}"></i>
                        </a>
                    </th>
                    <th scope="col">
                        <a class="text-decoration-none text-dark"
                           th:href="@{'/authors?' + ${keyword != null && keyword != '' ? 'keyword=' + keyword + '&' : ''}
                        + 'page=' + ${currentPage} + '&size=' + ${pageSize}
                        + ${sortField != null ? '&sort=' + 'lastName' + ',' + (sortField == 'lastName' ? reverseSortDirection : sortDirection) : ''}}"
                        >
                            Last Name
                            <i class="bi bi-sort-up"
                               th:if="${(sortField == 'lastName' && sortDirection == 'asc') || sortField != 'lastName'}"
                            ></i>
                            <i class="bi bi-sort-down"
                               th:if="${sortField == 'lastName' && sortDirection == 'desc'}"></i>
                        </a>
                    </th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="author : ${authors}">
                    <th scope="row" th:text="${author.id}"></th>
                    <td th:text="${author.firstName}"></td>
                    <td th:text="${author.lastName}"></td>
                    <td>
                        <a class="btn btn-warning" th:href="@{/authors/{authorId}/edit(authorId=${author.id})}"
                           title="Edit Author"
                        >
                            <i class="bi bi-person-fill-gear"></i>
                        </a>
                        <a class="btn btn-danger btnDelete"
                           role="button"
                           th:authorFirstName="${author.firstName}"
                           th:authorLastName="${author.lastName}"
                           th:href="@{/authors/{authorId}/delete(authorId=${author.id})}"
                           th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}" title="Delete Author"
                        >
                            <i class="bi bi-trash"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item" th:if="${currentPage > 1}">
                        <a class="page-link"
                           th:href="@{'/authors?' + ${keyword != null && keyword != '' ? 'keyword=' + keyword + '&' : ''}
                 + 'page=' + ${currentPage - 1} + '&size=' + ${pageSize}
                 + ${sortField != null && sortDirection != '' ? '&sort=' + sortField + ',' + sortDirection : ''}}"
                        >
                            Previous
                        </a>
                    </li>
                    <li class="page-item" th:if="${currentPage != totalPages}">
                        <a class="page-link"
                           th:href="@{'/authors?' + ${keyword != null && keyword != '' ? 'keyword=' + keyword + '&' : ''}
                 + 'page=' + ${currentPage + 1} + '&size=' + ${pageSize}
                 + ${sortField != null && sortDirection != '' ? '&sort=' + sortField + ',' + sortDirection : ''}}"
                        >
                            Next
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div th:unless="${authors.size() > 0}">
        <p class="lead text-center">
            No authors found!
        </p>
        <div class="d-flex justify-content-center">
            <a class="btn btn-lg btn-secondary" role="button" th:href="@{'/authors'}">Back</a>
        </div>
    </div>
</div>

<div class="modal py-5" id="deleteModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header border-bottom-0">
                <h1 class="modal-title fs-5">Confirm Delete</h1>
                <button aria-label="Close" class="btn-close noBtn" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body py-0">
                <p><span id="confirmText"></span></p>
            </div>
            <div class="modal-footer flex-column border-top-0">
                <a class="btn btn-lg btn-danger w-100 mx-0 mb-2" id="yesBtn" type="button">Delete author</a>
                <button class="btn btn-lg btn-light w-100 mx-0 noBtn" data-bs-dismiss="modal" type="button">Close
                </button>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

<script type="text/javascript">
    $(document).ready(function () {

        $(".btnDelete").on("click", function (e) {
            e.preventDefault();
            let href = $(this).attr("href");
            let authorFirstName = $(this).attr("authorFirstName");
            let authorLastName = $(this).attr("authorLastName");
            $("#confirmText").html("Are you sure you want to delete author: \<b\>" + authorFirstName + " " + authorLastName + "\<\/b\>?");
            $('#deleteModal #yesBtn').attr('href', href);
            $("#deleteModal").show();
        });

        $(".noBtn").on("click", function (e) {
            e.preventDefault();
            $("#deleteModal").hide();
        });

        $("#btnClear").on("click", function (e) {
            e.preventDefault();
            $("#keyword").text("");
            window.location = "[[@{/authors}]]";
        });

    });

    function changePageSize() {
        $("#authorSearchForm").submit();
    }
</script>
</body>
</html>
