<th:block th:fragment="navigation">
    <header class="sticky-top mb-3">
        <div class="px-2 py-2 text-bg-dark">
            <div class="container">
                <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                    <a class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none"
                       href="/">
                        <strong>Library Management System</strong>
                    </a>
                    <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                        <li>
                            <a class="nav-link text-white" th:href="${'/'}">
                                <svg class="bi bi-house-door d-block mx-auto mb-1" fill="currentColor" height="24" viewBox="0 0 16 16"
                                     width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4.5a.5.5 0 0 0 .5-.5v-4h2v4a.5.5 0 0 0 .5.5H14a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146ZM2.5 14V7.707l5.5-5.5 5.5 5.5V14H10v-4a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5v4H2.5Z"/>
                                </svg>
                                Home
                            </a>
                        </li>
                        <li th:if="${#authorization.expression('hasAnyAuthority(''ADMIN'', ''LIBRARIAN'')')}">
                            <a class="nav-link text-white" th:href="${'/loans'}">
                                <svg class="bi bi-table d-block mx-auto mb-1" fill="currentColor" height="24" viewBox="0 0 16 16"
                                     width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z"/>
                                </svg>
                                Loans
                            </a>
                        </li>
                        <li th:if="${#authorization.expression('hasAuthority(''MEMBER'')')}">
                            <a class="nav-link text-white" th:href="${'/loans/myLoans'}">
                                <svg class="bi bi-table d-block mx-auto mb-1" fill="currentColor" height="24" viewBox="0 0 16 16"
                                     width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M0 2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2zm15 2h-4v3h4V4zm0 4h-4v3h4V8zm0 4h-4v3h3a1 1 0 0 0 1-1v-2zm-5 3v-3H6v3h4zm-5 0v-3H1v2a1 1 0 0 0 1 1h3zm-4-4h4V8H1v3zm0-4h4V4H1v3zm5-3v3h4V4H6zm4 4H6v3h4V8z"/>
                                </svg>
                                My Loans
                            </a>
                        </li>
                        <li>
                            <a class="nav-link text-white" th:href="${'/books'}">
                                <svg class="bi bi-book d-block mx-auto mb-1" fill="currentColor" height="24" viewBox="0 0 16 16"
                                     width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811V2.828zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z"/>
                                </svg>
                                Books
                            </a>
                        </li>
                        <li>
                            <a class="nav-link text-white" th:href="${'/works'}">
                                <svg class="bi bi-journals d-block mx-auto mb-1" fill="currentColor" height="24" viewBox="0 0 16 16"
                                     width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5 0h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2 2 2 0 0 1-2 2H3a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H3a1 1 0 0 0-1 1H1a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v9a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H5a1 1 0 0 0-1 1H3a2 2 0 0 1 2-2z"/>
                                    <path d="M1 6v-.5a.5.5 0 0 1 1 0V6h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 3v-.5a.5.5 0 0 1 1 0V9h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H1zm0 2.5v.5H.5a.5.5 0 0 0 0 1h2a.5.5 0 0 0 0-1H2v-.5a.5.5 0 0 0-1 0z"/>
                                </svg>
                                Works
                            </a>
                        </li>
                        <li th:if="${#authorization.expression('hasAnyAuthority(''ADMIN'', ''LIBRARIAN'')')}">
                            <a class="nav-link text-white" th:href="${'/authors'}">
                                <svg class="bi bi-pen d-block mx-auto mb-1" fill="currentColor" height="24" viewBox="0 0 16 16"
                                     width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="m13.498.795.149-.149a1.207 1.207 0 1 1 1.707 1.708l-.149.148a1.5 1.5 0 0 1-.059 2.059L4.854 14.854a.5.5 0 0 1-.233.131l-4 1a.5.5 0 0 1-.606-.606l1-4a.5.5 0 0 1 .131-.232l9.642-9.642a.5.5 0 0 0-.642.056L6.854 4.854a.5.5 0 1 1-.708-.708L9.44.854A1.5 1.5 0 0 1 11.5.796a1.5 1.5 0 0 1 1.998-.001zm-.644.766a.5.5 0 0 0-.707 0L1.95 11.756l-.764 3.057 3.057-.764L14.44 3.854a.5.5 0 0 0 0-.708l-1.585-1.585z"/>
                                </svg>
                                Authors
                            </a>
                        </li>
                        <li th:if="${#authorization.expression('hasAnyAuthority(''ADMIN'', ''LIBRARIAN'')')}">
                            <a class="nav-link text-white" th:href="${'/categories'}">
                                <svg class="bi bi-tag d-block mx-auto mb-1" fill="currentColor" height="24" viewBox="0 0 16 16"
                                     width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6 4.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-1 0a.5.5 0 1 0-1 0 .5.5 0 0 0 1 0z"/>
                                    <path d="M2 1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 1 6.586V2a1 1 0 0 1 1-1zm0 5.586 7 7L13.586 9l-7-7H2v4.586z"/>
                                </svg>
                                Categories
                            </a>
                        </li>
                        <li th:if="${#authorization.expression('hasAnyAuthority(''ADMIN'', ''LIBRARIAN'')')}">
                            <a class="nav-link text-white" th:href="${'/users'}">
                                <svg class="bi bi-person-circle d-block mx-auto mb-1" fill="currentColor" height="24" viewBox="0 0 16 16"
                                     width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                    <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
                                          fill-rule="evenodd"/>
                                </svg>
                                Users
                            </a>
                        </li>
                        <li th:if="${#authorization.expression('hasAuthority(''MEMBER'')')}">
                            <a class="nav-link text-white" th:href="${'/users/myDetails'}">
                                <svg class="bi bi-person-circle d-block mx-auto mb-1" fill="currentColor" height="24" viewBox="0 0 16 16"
                                     width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                    <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
                                          fill-rule="evenodd"/>
                                </svg>
                                My Details
                            </a>
                        </li>
                        <li>
                            <a class="nav-link text-white" th:href="${'/logout'}">
                                <svg class="bi bi-door-closed d-block mx-auto mb-1" fill="currentColor" height="24" viewBox="0 0 16 16"
                                     width="24" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v13h1.5a.5.5 0 0 1 0 1h-13a.5.5 0 0 1 0-1H3V2zm1 13h8V2H4v13z"/>
                                    <path d="M9 9a1 1 0 1 0 2 0 1 1 0 0 0-2 0z"/>
                                </svg>
                                Logout
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>
</th:block>
