<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Library Management System - Categories</title>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
</head>
<body>
<th:block th:insert="~{fragments/navigation :: navigation}"></th:block>

<div class="container">
    <h1 class="display-2 text-center mt-2">Categories</h1>

    <div class="d-flex justify-content-end my-2">
        <a class="btn btn-lg btn-success" th:href="@{/categories/add}" title="Add Category">
            <i class="bi bi-bookmark-plus-fill"></i>
        </a>
    </div>

    <div class="mt-2" th:if="${categories.size() > 0}">
        <form id="categorySearchForm" th:action="@{/categories}">
            <div class="input-group my-3">
                <input class="form-control" id="keyword" name="keyword" placeholder="Search categories..."
                       th:value="${keyword}" type="search"
                >
                <button class="btn btn-outline-secondary" title="Search" type="submit">
                    <i class="bi bi-search"></i>
                </button>
            </div>

            <div class="row g-2 my-3">
                <div class="col-sm">
                    <div class="form-floating">
                        <select class="form-select" id="pageSize" name="size"
                                onchange="changePageSize()" th:value="${pageSize}"
                        >
                            <option th:selected="${3 == pageSize}" th:text="3" th:value="3"></option>
                            <option th:selected="${6 == pageSize}" th:text="6" th:value="6"></option>
                            <option th:selected="${9 == pageSize}" th:text="9" th:value="9"></option>
                        </select>
                        <label for="pageSize">Items per page</label>
                    </div>
                </div>
            </div>

            <button class="btn btn-secondary" id="btnClear">Clear selection</button>
        </form>

        <div class="table-responsive mt-4">
            <table class="table table-hover align-middle">
                <thead class="thead-light">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">
                        <a class="text-decoration-none text-dark"
                           th:href="@{'/categories?' + ${keyword != null && keyword != '' ? 'keyword=' + keyword + '&' : ''}
                                    + 'page=' + ${currentPage} + '&size=' + ${pageSize}
                                    + ${sortField != null ? '&sort=' + 'name' + ',' + (sortField == 'name' ? reverseSortDirection : sortDirection) : ''}}"
                        >
                            Category Name
                            <i class="bi bi-sort-up" th:if="${sortDirection == 'asc'}"></i>
                            <i class="bi bi-sort-down" th:if="${sortDirection == 'desc'}"></i>
                        </a>
                    </th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="category : ${categories}">
                    <th scope="row" th:text="${category.id}"></th>
                    <td th:text="${category.name}"></td>
                    <td>
                        <a class="btn btn-warning" th:href="@{/categories/{categoryId}/edit(categoryId=${category.id})}"
                           title="Edit Category"
                        >
                            <i class="bi bi-pencil-square"></i>
                        </a>
                        <a class="btn btn-danger btnDelete"
                           role="button"
                           th:categoryName="${category.name}"
                           th:href="@{/categories/{categoryId}/delete(categoryId=${category.id})}"
                           th:if="${#authorization.expression('hasAuthority(''ADMIN'')')}" title="Delete Category"
                        >
                            <i class="bi bi-bookmark-dash-fill"></i>
                        </a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="d-flex justify-content-center">
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="page-item" th:if="${currentPage > 1}">
                        <a class="page-link"
                           th:href="@{'/categories?' + ${keyword != null && keyword != ''? 'keyword=' + keyword + '&' : ''}
                               + 'page=' + ${currentPage - 1} + '&size=' + ${pageSize}
                               + ${sortField != null && sortDirection != '' ? '&sort=' + sortField + ',' + sortDirection : ''}}"
                        >
                            Previous
                        </a>
                    </li>
                    <li class="page-item" th:if="${currentPage != totalPages}">
                        <a class="page-link"
                           th:href="@{'/categories?' + ${keyword != null && keyword != '' ? 'keyword=' + keyword + '&' : ''}
                               + 'page=' + ${currentPage + 1} + '&size=' + ${pageSize}
                               + ${sortField != null && sortDirection != '' ? '&sort=' + sortField + ',' + sortDirection : ''}}"
                        >
                            Next
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>

    <div th:unless="${categories.size() > 0}">
        <p class="lead text-center">
            No categories found!
        </p>
        <div class="d-flex justify-content-center">
            <a class="btn btn-lg btn-secondary" role="button" th:href="@{'/categories'}">Back</a>
        </div>
    </div>
</div>

<div class="modal py-5" id="deleteModal" role="dialog" tabindex="-1">
    <div class="modal-dialog" role="document">
        <div class="modal-content rounded-4 shadow">
            <div class="modal-header border-bottom-0">
                <h1 class="modal-title fs-5">Confirm Delete</h1>
                <button aria-label="Close" class="btn-close noBtn" data-bs-dismiss="modal" type="button"></button>
            </div>
            <div class="modal-body py-0">
                <p><span id="confirmText"></span></p>
            </div>
            <div class="modal-footer flex-column border-top-0">
                <a class="btn btn-lg btn-danger w-100 mx-0 mb-2" id="yesBtn" type="button">Delete category</a>
                <button class="btn btn-lg btn-light w-100 mx-0 noBtn" data-bs-dismiss="modal" type="button">Close
                </button>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>

<script type="text/javascript">
    $(document).ready(function () {

        $(".btnDelete").on("click", function (e) {
            e.preventDefault();
            let href = $(this).attr("href");
            let categoryName = $(this).attr("categoryName");
            $("#confirmText").html("Are you sure you want to delete category: \<b\>" + categoryName + "\<\/b\>?");
            $('#deleteModal #yesBtn').attr('href', href);
            $("#deleteModal").show();
        });

        $(".noBtn").on("click", function (e) {
            e.preventDefault();
            $("#deleteModal").hide();
        });

        $("#btnClear").on("click", function (e) {
            e.preventDefault();
            $("#keyword").text("");
            window.location = "[[@{/categories}]]";
        });

    });

    function changePageSize() {
        $("#categorySearchForm").submit();
    }
</script>
</body>
</html>
