<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Library Management System - Edit Category</title>
  <th:block th:insert="~{fragments/head :: head}"></th:block>
</head>
<body>
  <th:block th:insert="~{fragments/navigation :: navigation}"></th:block>
  <div class="container">
    <h2>Edit category</h2><br>
    <form th:action="@{/categories/updateCategory}" method="POST">
      <input type="hidden" th:field="*{categoryPayload.id}">
      <input type="text" th:field="*{categoryPayload.name}" placeholder="category name" class="form-control mb-4 col-4" required="required">
      <button type="submit" class="btn btn-info col-2">Update category</button>
    </form>
    <br>
    <a th:href="@{/categories}"> Back to all categories</a>
  </div>
  <div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
