<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Library Management System - Edit Category</title>
    <th:block th:insert="~{fragments/head :: head}"></th:block>
</head>
<body>
<th:block th:insert="~{fragments/navigation :: navigation}"></th:block>

<div class="container">
    <h1 class="display-2 text-center mt-2">Edit Category</h1>

    <form class="my-4" method="POST" th:action="@{/categories/updateCategory}">
        <input th:field="*{categoryPayload.id}" type="hidden">

        <div class="row mb-3">
            <label class="col-sm-2 col-form-label" for="categoryName">Category Name</label>
            <div class="col-sm-10">
                <input class="form-control" id="categoryName" required th:field="*{categoryPayload.name}" type="text">
            </div>
        </div>

        <button class="btn btn-lg btn-warning" type="submit">Update category</button>
    </form>

    <a th:href="@{/categories}"> Back to all categories</a>
</div>

<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>
